/* General styling */
* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-family: 'DM Sans', sans-serif;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 0.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

.subheading {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    width: 12rem;
}

.primary-btn {
    background-color: black;
    font-family: 'DM Sans';
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    border-radius: 5rem;
    padding: 0.8rem 5rem;
}

/* Hero */
#hero, #services {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0rem 1rem;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-right img {
    width: 80%;
    border: 3px solid black;
}

.hero-img-1 {
    transform: rotate(10deg);
}

.hero-img-2 {
    margin-top: -3rem;
    transform: rotate(-10deg);
}

/* About */
.box {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem 1rem;
}

#about p {
    text-align: center;
}

.about-left, .about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
}

.about-left {
    background-color: #FFF804;
    border-bottom: 2px solid black;
}

.about-right {
    background-color: #81836C;
}

.about-right img, .about-left img {
    width: 95%;
}

.b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    color: white;
}

.b a {
    text-transform: uppercase;
    color: white;
    font-family: 'DM Sans';
}

/* Services */
#services {
    margin-top: 4rem;
}

.services-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.services-heading h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
}

.services-left img {
    width: 80%;
    border: 2px solid black;
}

.services-left {
    text-align: center;
}

.services-left div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#services .primary-btn, #community .primary-btn {
    background-color: white;
    color: black;
    box-shadow:0px 0px 0px 2px black inset;
}

table {
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    padding: 0; 
    margin: 0;
    border: 2px solid black;
}

th {
    background-color: black;
    color: white;
    text-align: left;
    height: 8rem;
    padding-left: 1.5rem;
}

td {
    font-weight: 600;
    border-bottom: 2px solid black;
    height: 4rem;
    padding: 1.5rem;
}

td div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Network */
#network {
    margin-top: 3rem;
    border-bottom: 2px solid black;
}

#network img {
    width: 95%;
    border: 2px solid black;
}

.network-left {
    background-color: black;
    color: white;
}

.network-left, .network-right, .network-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem 5rem 1rem;
    gap: 2rem;
}

.network-left div:nth-child(2), .network-right div:nth-child(2){
    gap: 1rem;
    padding: 0;
}

.network-right {
    background-color: #E280FF;
}

/* Community */
#community {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 3rem;
}

.grid {
    border-bottom: 2px solid black;
}

.grid-left {
    width: 100%;
    margin-bottom: -0.5rem;
}

.grid-left img, .grid-right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.grid-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.marquee {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 10rem;  
    border-bottom: 2px solid black;  
}

.marquee a {
    color: black;
}

.marquee-content {
    display: flex;
    gap: 3rem;
    animation: scroll-left 20s linear infinite;
}

.marquee p {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

@keyframes scroll-left {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Testimonials */
#testimonials {
    height: 100vh;
    overflow-x: hidden;
}

.testimonials-left {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF804;
}

.testimonials-left p {
    font-size: 1.5rem;
    font-weight: 500;
}

.pagination button {
    border-radius: 500px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button.active-btn {
    background-color: black;
    color: white;
}

#testimonials a {
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.testimonial-content > div {
    opacity: 0;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 1s ease, opacity 0.5s ease;
}

.testimonial-content > .active {
    opacity: 1; /* Show the active testimonial */
    transform: translateX(0); /* Slide into place */
    position: relative;
}





