/* General styling */
* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-family: 'DM Sans', sans-serif;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 0.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

.subheading {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    width: 10rem;
}

.primary-btn {
    background-color: black;
    font-family: 'DM Sans';
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 5rem;
    padding: 1rem 2rem;
}

/* Hero */
#hero, #services {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0rem 1rem;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-right img {
    width: 80%;
    border: 3px solid black;
}

.hero-img-1 {
    transform: rotate(10deg);
}

.hero-img-2 {
    margin-top: -3rem;
    transform: rotate(-10deg);
}

/* About */
.box {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem 1rem;
}

#about p {
    text-align: center;
}

.about-left, .about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
}

.about-left {
    background-color: #FFF804;
    border-bottom: 2px solid black;
}

.about-right {
    background-color: #81836C;
}

.about-right img, .about-left img {
    width: 95%;
}

.b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    color: white;
}

.b a {
    text-transform: uppercase;
    color: white;
    font-family: 'DM Sans';
}

/* Services */
#services {
    margin-top: 4rem;
}

.services-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.services-heading h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
}

.services-left img {
    width: 80%;
    border: 2px solid black;
}

.services-left {
    text-align: center;
}

.services-left div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

table {
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    padding: 0; 
    margin: 0;
    border: 2px solid black;
}

th {
    background-color: black;
    color: white;
    text-align: left;
    height: 8rem;
    padding-left: 1.5rem;
}

td {
    font-weight: 600;
    border-bottom: 2px solid black;
    height: 4rem;
    padding: 1.5rem;
}

td div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



